body {
    font-family: 'Arial', sans-serif;
  }
  
  header img {
    border: 3px solid white;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  footer {
    font-size: 0.9rem;
  }
  